
@{ 
    Style.Require("MainSty").AtHead();

    Script.Require("Subject.App").AtHead();
}

<div class="easyui-tabs" data-options="plain:true" style="width:700px;height:550px">
    @foreach (XinTuo.Finance.Models.MSubjectCategory sc in Model.GenCategory)
    {
        string divName = "category" + sc.SubjectCategory.ToString();
        string tableName = "cateDt" + sc.SubjectCategory.ToString();
    <text>
    <div title="@sc.CategoryShortName" id="@divName" data-options="closable:false" style="padding:10px;">
        <table class="easyui-datagrid" id="@tableName" style="width:auto;height:auto;"
               data-options="fitColumns:true,singleSelect:true,toolbar: '#tb'">
            <thead>
                <tr>
                    <th data-options="field:'SubjectCode',width:40,align:'center'">@T("编码")</th>
                    <th data-options="field:'SubjectName',width:60,align:'center'">@T("名称")</th>
                    <th data-options="field:'code',width:60,align:'center'">@T("类别")</th>
                    <th data-options="field:'BalanceDirection',width:40,align:'center'">@T("余额方向")</th>
                    <th data-options="field:'SubjectState',width:30,align:'center'">@T("状态")</th>
                </tr>
            </thead>
        </table>
    </div>
    </text>
    
    }
</div>

<div id="tb" style="height:auto">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true" onclick="append()">Append</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true" onclick="removeit()">Remove</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true" onclick="accept()">Accept</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true" onclick="reject()">Reject</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true" onclick="getChanges()">GetChanges</a>
</div>