
@{ 
    Style.Require("MainSty").AtHead();

    Script.Require("Subject.App").AtHead();
}

<div class="easyui-tabs" data-options="plain:true" style="width:700px;height:550px">
    <div title="资产" data-options="closable:false" style="padding:10px;">
        <table class="easyui-datagrid" style="width:auto;height:auto;"
               data-options="fitColumns:true,singleSelect:true">
            <thead>
                <tr>
                    <th data-options="field:'code'">@T("编码")</th>
                    <th data-options="field:'code'">@T("名称")</th>
                    <th data-options="field:'code'">@T("类别")</th>
                    <th data-options="field:'code'">@T("余额方向")</th>
                    <th data-options="field:'code'">@T("状态")</th>
                    <th data-options="field:'code'">@T("操作")</th>
                </tr>
            </thead>
        </table>
    </div>
    <div title="负债"></div>
    <div title="权益"></div>
    <div title="成本"></div>
    <div title="损益"></div>
    
</div>